[submodule "SGGimmeAPI/Resources/asi-http-request"]
	path = SGGimmeAPI/Resources/asi-http-request
	url = https://github.com/dsmith/asi-http-request.git
[submodule "SGGimmeAPI/Resources/asi-http-request-oauth"]
	path = SGGimmeAPI/Resources/asi-http-request-oauth
	url = https://github.com/keybuk/asi-http-request-oauth.git
[submodule "SGGimmeAPI/Resources/facebook-ios-sdk"]
	path = SGGimmeAPI/Resources/facebook-ios-sdk
	url = http://github.com/facebook/facebook-ios-sdk
