<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foursquare</key>
	<dict>
		<key>access_token</key>
		<string>RV255532WX03AUZ3PETJOSHTDUIZWFMLV33HDKG0KV2LMDIG</string>
		<key>consumer_key</key>
		<string>NYRTSAT11X4BROBELNTOKXW5N1ED0OUUYTZQKDUVGSV5OOHN</string>
		<key>consumer_secret</key>
		<string>K4TOYTVTMAGGJMASOFHKIWRXAODSK2IC4HCRBOJUFZQC5WQB</string>
	</dict>
	<key>twitter</key>
	<dict>
		<key>access_secret</key>
		<string>vkA6d0BTp1Qb7QJFMYtOgWMYXoU86AUOPVBd3JXQ</string>
		<key>access_token</key>
		<string>334357581-QBwndjRc57LvaGvuhybwkdhHMoKUaYMgb3jL2CHk</string>
		<key>consumer_key</key>
		<string>bCfHdQQJaWImuvvugs4Bmw</string>
		<key>consumer_secret</key>
		<string>M4dC9rQWZvsfbWxNZ5zsvqrCPtqhl54BVtgkOQJ8</string>
	</dict>
</dict>
</plist>
