<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SGGimmeAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A1D69FA13CD0F1E0084A060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1D6A2613CD10870084A060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8E811113CD022C0061D3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ADAAB6D13C52060005B77DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
